<%= javascript_include_tag params[:static_pages] %>
<%= stylesheet_link_tag params[:static_pages] %>

<div class="home-wrapper">
		<div class="logo"><img src="/assets/corpsquare.png" /></div>
</div>

	<div id="input-location-div">Location: <input type="text" id="input-location"><button id="submit-location-button" type="button">Submit</button></div>


// <script>
// 	var entriesJson = <%= @expenseEntries.to_s.html_safe %>;
// 	console.log(entriesJson);
//   entriesJson['entries'].forEach(function(entry, index, array){
//       var results = entry['VendorDescription'].split(',');
//       entry['VendorName'] = results[0];
//       entry['VendorCity'] = results[1];
//   });
// </script>

