// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  background: url(/assets/17H.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  margin: 0;
}

.home-wrapper{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align:center;
	vertical-align: middle;
}

.logo{
	margin: auto;
	vertical-align: middle;
}
